.typography {
  text-align: center;
}

.error {
  color: red;
}
.success {
  color: rgb(125, 204, 6);
}

.small {
  font-size: 14px;
}
.medium {
  font-size: 18px;
}
.large {
  font-size: 20px;
}
.fullwidth {
  font-size: 24px;
}

.lighter {
  font-weight: lighter;
}

.bolder {
  font-weight: bolder;
}
