.wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}
.avatar {
  width: 100px;
  border-radius: 50%;
}
.userBox {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 3px 3px 7px 1px #e6e6e6;
}
.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login {
  padding: 10px;
}
